.main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.a_right {
    float: right;
}

.button_div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 15px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.input_field {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkcyan;
    border-radius: 50px;
}

input {
    border: none;
    outline: none;
    width: 40em;
}
input:focus {
    outline: none;
}

span {
    padding: 10px;
    color: darkcyan;
}

a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: black;
}

nav {
    padding: 10px;;
}

.imgcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;;
}

#googleimg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.inputcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}